body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styly pro záhlaví (header) */

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-text {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

/* Styly pro hlavní obsah (main) */

main {
    background-color: #fff;
    padding: 20px;
}

.contact-info {
    max-width: 400px;
    margin: 0 auto;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    font-weight: bold;
}

/* Styly pro patičku (footer) */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}